<div>

    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Step 1</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Step 2</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Step 3</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Step 4</h2>
            <p class="lead">And an even wittier subheading.</p>
        </div>
    </div>

</div>