<div class="container row my-5">
    <div class="d-block row w-25">
        <button class="btn btn-link my-2" id="search">Search </button>
        <button class="btn btn-link my-2" id="add">Create product</button>
        <button class="btn btn-link my-2" id="remove">Remove product</button>
        <button class="btn btn-link my-2" id="update">Update product</button>
    </div>
    <div id="sideb" class="container w-75">
        <div class="container w-50">
            <h1>Add product</h1>
            <div class="my-2">
                <label for="exampleFormControlTextarea1">Title</label>
                <input class="form-control form-control-lg my-2" type="text" id="title" placeholder="Pigeon spikes">
            </div>
            <div class="my-2">
                <label for="exampleFormControlTextarea1">Descreption</label>
                <textarea class="form-control" id="desc" rows="3"></textarea>
            </div>
            <div class="my-2">
                <label for="exampleFormControlTextarea1">Price</label>
                <input class="form-control form-control-sm" type="text" id="price" placeholder="99">
            </div>
            <div class="my-2">
                <label for="exampleFormControlTextarea1">Barcode</label>
                <input class="form-control form-control-sm" type="text" id="barcode" placeholder="34864">
            </div>
            <div class="my-2">
                <label for="exampleFormControlFile1">Image</label>
                <input class="form-control form-control-sm" type="text" id="img" placeholder="url">

                <!-- <input type="file" class="form-control-file" id="img" id="exampleFormControlFile1"> -->
            </div>
            <div class="my-2">
                <button class="btn btn-primary my-2" id="submitadd">ADD</button>
            </div>
        </div>
    </div>

</div>

<script src="/js/managment.js"></script>